#color-switch {
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    transition: all 0.4s;
    border-radius: 3px;
    cursor: pointer;
}

#color-switch.light {
    background: url("../images/icons/moon.svg") center 50px /60% no-repeat,
        url("../images/icons/sun.svg") center /60% no-repeat #ececec;
}

#color-switch.dark {
    background: url("../images/icons/moon.svg") center /60% no-repeat,
        url("../images/icons/sun.svg") center 50px /60% no-repeat rgb(41, 54, 76);
}